<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id='hidden' type='hidden' name='_method' value="patch">
    <label for="name">Name</label><br>
    <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>"><br>
    <label for="name">Ingredients:</label><br>
    <input id="ingredients" type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>"><br>
    <label for="name">Cook Time:</label><br>
    <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>"><br>
    <input type="submit" value="edit recipe">
</form>