<form action="/recipes" method="post">
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="name">Ingredients:</label><br>
    <input type="text" name="ingredients"><br>
    <label for="name">Cook Time:</label><br>
    <input type="text" name="cook_time"><br>
    <input type="submit" value="add new recipe">
</form>

