<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>


DELETE:
<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="submit" type="submit" value="delete">
</form>